@import '~antd/dist/antd.css';

.login_title {
  padding-top: 110px;
}

.signup_form {
  position:absolute;
  width: 300px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 40px;
}

.login_form {
  position:absolute;
  width: 300px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_button {
  width: 100%;
}

p {
  text-align: left;
}

.login_alert {
	font-size: 10px;
  text-align: left;
}
